body {
        background: url(../images/home-tab-content-bg.png) no-repeat #DCDCDC;
}

.jumbotron-fluid {
        background: url(../images/home-tab-content-bg.png) no-repeat #0b7ba8;
        color: white;
}

h1 {
        font-family: 'Alegreya Sans', sans-serif;
}

h4,h3 {
        text-align: center;
        color: #0b7ba8;
        font-family: 'Alegreya Sans', sans-serif;
}

h5{
        text-align: center;
        font-family: 'Alegreya Sans', sans-serif;
        color: #0b7ba8;
}

.lead{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        text-align: left;
}

#enroll-text {
        color: #0b7ba8
}

thead{
        color: #0b7ba8;
        font-style: strong;
}

.dates {
        text-align: center;
        font-family: 'Lato', sans-serif;
}

p {
        font-family: 'Lato', sans-serif;      
}

#self, #dependents, #children {
        border-style: dotted;
        border-color: greenyellow;
}