html, body {
        background: url(../images/home-tab-content-bg.png) no-repeat #DCDCDC;
        height:100%;
        margin: 0px;
}

.wrapper {
        min-height: 100%;
        margin-bottom:-60px;
}

.sticky-top {
        background-color: #ffffff;
}

.jumbotron-fluid {
        background: url(../images/home-tab-content-bg.png) no-repeat #0b7ba8;
        color: white;
}
.container{
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 20px;
}

h1 {
        font-family: 'Alegreya Sans', sans-serif;
}

h2 {
        text-align: center;
        color: #0b7ba8;
        font-family: 'Alegreya Sans', sans-serif;      
}

h4,h3 {
        text-align: center;
        color: #0b7ba8;
        font-family: 'Alegreya Sans', sans-serif;
}


#testimonial {
                width: 400px;
                height: 250px;
                background: rgb(141, 141, 140);
                position: relative;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
              }
#testimonial:before {
                content: "";
                position: absolute;
                right: 100%;
                top: 26px;
                width: 0;
                height: 0;
                border-top: 13px solid transparent;
                border-right: 26px solid rgb(141, 141, 140);
                border-bottom: 13px solid transparent;
              }

.quote {

        width: 350px;
        height: 200px;
        padding: 20px;
        color: lawngreen;
        font-size: 18px;
              }

#name {
        padding-left: 30px;
        color: white
}

#hsa-reminder{
        color: green;
}

h5{
        text-align: center;
        font-family: 'Alegreya Sans', sans-serif;
        color: #0b7ba8;
}

em {
        font-style: italic;
}

.lead{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        text-align: left;
}

#enroll-text {
        color: #0b7ba8
}

thead{
        color: #0b7ba8;
        font-style: strong;
}

.dates {
        text-align: center;
        font-family: 'Lato', sans-serif;
}

.fsa {
        text-align: left;
        font-family: 'Lato', sans-serif;
}

p {
        font-family: 'Lato', sans-serif;      
}

#premiums {
        align-items: center;
}

/* .self-el {
        padding: 5px;
        border-right: 1px;
        border-style: dotted;
        border-color: green;
} */

/* .dep-el {
        padding-right: 5px;
} */

.vl {
        border-left: 1px;
        border-color: green;
        height: 500px;
}

th {
        font-size: 32px;
        text-align: center;
}

td {
        text-align: center;
}

.terms {
        text-align: center;
        font-weight: bold;
}

.definition {
        width: 900px;
        text-align: left;
}

.preventive {
        border: 5px;
        padding: 15px;
        border-color: green;
        border-style: double;
}

ul {
        list-style-type: circle;
}


.table-rows {
        font-size: 16px;
        text-align: center;
}
.table-rows2 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #0b7ba8;
}

.carousel-inner {
        width: 100%;
}

.card {
        float: left;

}

.card-img-top {
        height: 450px;
}


.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b7ba8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }
       
 .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b7ba8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
       }

.sticky-bottom{
        border-top: 1px solid #0b7ba8;
        background-color: lightgray;
}

.push {
        height: 60px;
        background-color: lightgray;
}

.footer-link {
        color: slategrey;
}